.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*~
.idea/
.vscode/
*.iml
*.suo
*.user
*.userosscache
*.sln.docstates
Monitoring_App/build/
Monitoring_App/.dart_tool/
Monitoring_App/.packages
Monitoring_App/pubspec.lock
Monitoring_App/.flutter-plugins
Monitoring_App/.flutter-plugins-dependencies
Monitoring_App/android/.gradle/
Monitoring_App/android/.idea/
Monitoring_App/android/local.properties
Monitoring_App/android/app/*.keystore
Monitoring_App/ios/Pods/
Monitoring_App/ios/Runner.xcworkspace/
Monitoring_App/ios/Flutter/Flutter.framework
Monitoring_App/ios/Flutter/Flutter.podspec
Monitoring_App/ios/Flutter/App.framework
Monitoring_App/ios/Flutter/engine/
Monitoring_App/ios/Flutter/ephemeral/
Monitoring_App/ios/*.xcuserstate
Monitoring_App/ios/*.xcworkspace
Monitoring_App/ios/*.xcsettings
Monitoring_App/linux/build/
Monitoring_App/macos/Flutter/ephemeral/
Monitoring_App/windows/Flutter/ephemeral/
**/venv/
.venv/
env/
ENV/
**/__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints
# model/**
*.engine
*.onnx
*.pt
*.pth
*.tflite
Firebase_Cloud_Functions/node_modules/
Firebase_Cloud_Functions/.firebase/
*.key
*.pem
*.p12
*.crt
*.der
*.jks
**/*Service_Key.json
.env
.env.*
*.log
*.tmp
*.temp
*.swp
*.swo
.gitattributes